.registration {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding:auto;
 font-size: 20px;
  background-image: url('../../background/bg_3.jpg') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display:flow-root;
}

.container {
  max-width: 700px;
  margin:  auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.759);
}


.avatar {
  width: 150px;
  border-radius: 50%;
}


input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;

  transition: border-color 0.3s;}
button {
  background-color: #42e267;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}
button:hover {
  background-color: #218838;
}


