.payment-success {
  background-image: url(/public/images/banner.jpg);
  background-image: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.payment-success h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fd0000;
  font-family: cursive;
}

.payment-success p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #666;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.payment-success .btn {
  background-color: #4CAF50;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

.payment-success .btn:hover {
  background-color: #45a049;
}